{% extends 'base.html' %}

{% block content %}
    <!-- Página "About Me" -->
    <section class="page py-5">
                <h2>About Me</h2>
                <hr class="title-divider">
        <div class="container">
            <div class="about-container row">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/aboutme.png') }}" alt="Mi Foto" class="img-fluid rounded about-image">
                </div>
                <div class="col-md-6 about-text">
                    <h3>¡Hey, thanks for dropping by!</h3>
                    <p class="long-text">Soy Ana Sofía, comunicadora social de 21 años, creadora de
                        contenido enfocada en viajes, gastronomía, moda y lifestyle.
                        Curiosa, extrovertida, aventurera y con una gran capacidad de
                        asombro. </p>
                        
                    <p> Me apasiona explorar el mundo, saborear nuevas culturas,
                        probar sabores distintos y vivir experiencias inolvidables.
                        La diversión es el pilar central de mi vida.</p>
                        
                    <p>A través del contenido busco contar historias y transmitir
                        emociones reales: que rían, se antojen, se emocionen y vivan
                        cada momento con la misma energía y entusiasmo con el que
                        yo lo disfruto.</p>
                    
                    
                    <p>¡Acompáñame en esta increíble aventura!</p>
                    <a href="/work_with_me" class="btn btn-primary">¡Trabajemos juntos!</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}