{% extends 'base.html' %}

{% block content %}
    <!-- Sección Principal con Video de Fondo -->
    <section class="hero">
        <video autoplay loop muted playsinline class="hero-video">
            <source src="{{ url_for('static', filename='videos/fondo.mp4') }}" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <div class="hero-content container text-center">
            <div class="hero-text-background"></div>
            <div class="hero-welcome">
                <img src="{{ url_for('static', filename='images/aboutme.png') }}" alt="Mi Foto" class="img-fluid rounded about-image">
                <h2>¡Bienvenido!</h2>
                <p>Únete a mi aventura</p>
            </div>
        </div>
    </section>

    <!-- Sección de Recent Posts -->
    <section class="recent-posts py-5">
        <div class="container">
            <h2>Recent Posts</h2>
            <div class="row g-3">
                {% if posts %}
                    {% for post in posts %}
                        <div class="col-md-4">
                            <div class="card">
                                <img src="{{ url_for('static', filename='post_images/' + post.image_file) }}" class="card-img-top" alt="Imagen del Post">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.content }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    
                        ¡No hay posts!
                    
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Sección de Estadísticas de Viaje -->
<section class="travel-stats py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="stat">
                    <span class="stat-number">98</span>
                    <span class="stat-label">Countries Visited</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat">
                    <span class="stat-number">7</span>
                    <span class="stat-label">Continents Visited</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat">
                    <span class="stat-number">8</span>
                    <span class="stat-label">Torn Pairs of Shoes</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat">
                    <span class="stat-number">2</span>
                    <span class="stat-label">Lost Backpacks</span>
                </div>
            </div>
        </div>
    </div>
</section>

</section>

</section>

    <!-- Sección del Mapa de Países Visitados -->
    <section class="visited-countries py-5">
        <div class="container">
            <h2>Países Visitados</h2>
            <div class="flourish-embed flourish-map" data-src="visualisation/22529016">
            <script src="https://public.flourish.studio/resources/embed.js"></script>
            <noscript><img src="https://public.flourish.studio/visualisation/22529016/thumbnail" width="100%" alt="map visualization" /></noscript>
            </div>
            <p class="mt-3">¡He explorado estos increíbles lugares!</p>
        </div>
    </section>

{% endblock %}